<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículo - Thyago Marques Correa</title>
    <link rel="stylesheet" href="../assets/css/Index.css">
    <link rel="icon" href="../assets/icons/profile_1572535.png" type="image/x-icon">
    <style href="../assets/css/Index.css"></style> 
</head>

<body id="curriculo">
    <header>
        <div class="profile">
            <img src="../assets/img/IMG_20230517_103012.jpg" alt="Foto de Perfil" class="profile-image">
            <h1>Thyago Marques Correa</h1>
            <p>Engenheiro de Software</p>
        </div>
        <div class="header-video">
            <video autoplay muted loop>
                <source src="../assets/video/2887463-hd_1920_1080_25fps.mp4" type="video/mp4">
                Seu navegador não suporta vídeos.
            </video>
        </div>

    </header>
    <main>
        <!-- Contato -->
        <section id="contact-info">
            <h2>Contato</h2>
            <ul>
                <li><strong>Endereço:</strong> Fábio Vaz de Melo, 200 - Belo Horizonte, Minas Gerais, Brasil</li>
                <li><strong>Telefone:</strong> <a href="tel:+5531989857732">+55 (31) 98985-7732</a></li>
                <li><strong>E-mail:</strong> <a href="mailto:thyago30407@outlook.com">thyago30407@outlook.com</a></li>
                <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/thyago-marques-correa"
                        target="_blank">linkedin.com/in/thyagomarques-correa</a></li>
            </ul>
        </section>
        <!-- Resumo Profissional -->
        <section id="summary">
            <h2>Resumo Profissional</h2>
            <p>Apaixonado por tecnologia, sustentabilidade e inovação, sou um profissional de Tecnologia da Informação
                com experiência em suporte técnico, desenvolvimento de sistemas e atendimento ao cliente. Atuei no
                suporte a clientes, monitoramento de redes e manutenção de equipamentos. Tenho sólida experiência em
                montagem e manutenção de hardware e software, além de habilidades em trabalho em equipe e supervisão de
                equipes técnicas.</p>
            <br>
            <p>Meu primeiro contato com tecnologia ocorreu no curso técnico do SENAI, onde aprendi os fundamentos da
                programação e lógica computacional. Desde então, me aprofundei na área e atualmente curso Engenharia de
                Software na PUC Minas.</p>
        </section>
        <!-- Formação Acadêmica -->
        <section id="education">
            <h2>Formação Acadêmica</h2>
            <ul>
                <li><strong>Alura</strong> - Cursos em Java e C# (Jan/2023 - Presente - Em
                    andamento)</li>
                <li><strong>PUC Minas</strong> - Bacharelado em Engenharia de Software (Jan/2024 - 2028 - Em
                    andamento)</li>
                <li><strong>SENAI BH CECOTEG</strong> - Técnico em Energias Renováveis (Out/2021 - Mai/2023 - Concluído)
                </li>
                <li><strong>SENAI BH CECOTEG</strong> - Técnico em Administração de Processos Industriais (Set/2021 -
                    Ago/2022 - Concluído)</li>
                <li><strong>PUC Minas</strong> - Bacharelado em Engenharia de Energia (Jan/2022 - Jun/2022 - Experiência
                    acadêmica)</li>
                <li><strong>Zanol Prime</strong> - Inglês Intermediário</li>
                <li><strong>Escola Estadual Maestro Villa Lobos</strong> - Ensino Médio (2019 - 2021)</li>
            </ul>
        </section>
        <!-- Experiência Profissional -->
        <section id="experience">
            <h2>Experiência Profissional</h2>
            <ul>
                <li><strong>Telemont Engenharia de Telecomunicações</strong>
                    <ul>
                        <li><strong>Assistente Regional de TI II</strong> (Dez/2023 - Presente)
                            <p>Responsável pela solução de problemas técnicos e suporte ao cliente.</p>
                        </li>
                        <li><strong>Projetista de Redes Elétricas</strong> (Jul/2023 - Nov/2023)</li>
                        <li><strong>Aprendiz em Administrativo</strong> (Ago/2022 - Jul/2023)
                            <p>Atuação em manutenção de hardware e suporte técnico em sistemas de telecomunicações.</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- Habilidades -->
        <section id="skills">
            <h2>Habilidades</h2>
            <h3>Desenvolvimento de Software</h3>
            <div class="skill-list">
                <div class="skill-item">HTML</div>
                <div class="skill-item">CSS</div>
                <div class="skill-item">JavaScript</div>
                <div class="skill-item">C</div>
                <div class="skill-item">C++</div>
                <div class="skill-item">C#</div>
                <div class="skill-item">Java</div>
                <div class="skill-item">Banco de Dados</div>
                <div class="skill-item">Análise de Dados</div>
                <div class="skill-item">Método Ágil</div>
            </div>
            <h3>Ferramentas e Tecnologias</h3>
            <div class="skill-list">
                <div class="skill-item">AutoCAD</div>
                <div class="skill-item">SketchUp</div>
                <div class="skill-item">Manutenção de Hardware</div>
                <div class="skill-item">Manutenção Elétrica Predial</div>
            </div>
            <h3>Competências</h3>
            <div class="skill-list">
                <div class="skill-item">Tomada de Decisão</div>
                <div class="skill-item">Trabalho em Equipe</div>
                <div class="skill-item">Gestão de Projetos</div>
                <div class="skill-item">CNH A/B</div>
            </div>
        </section>
        <!-- Projetos -->
        <section id="projects">
            <h2>Projetos</h2>
            <p><a href="https://github.com/Thyago-Marques-Correa" target="_blank">GitHub</a></p>
        </section>
        <!-- Formulário de Contato -->
        <section id="contact-form-section">
            <h2>Entre em Contato</h2>
            <form action="https://formspree.io/f/xgvozlwv" method="POST">
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Mensagem:</label>
                <textarea id="message" name="message" rows="5" required></textarea>

                <button type="submit">Enviar</button>
            </form>
            <p id="form-message"></p>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 - Thyago Marques Correa. Todos os direitos reservados.</p>
        <!-- Botão Gerar PDF -->
        <div style="text-align: center; margin-top: 20px;">
            <button onclick="window.print()">Salvar</button>


        </div>
    </footer>
    <script href="../assets/js/Index.js"></script>
</body>
</html>